<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cms/styles/global.css' %}">
        <meta name="description" content="">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="icon.png">

        <!--<script src="{% static 'cms/scripts/htmx.min.js' %}"></script>-->
        <script src="{% static 'cms/scripts/jquery.min.js' %}"></script>
        <script src="{% static 'cms/scripts/showdown.min.js' %}"></script>
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
</html>