{% extends "base.html" %}
{% block body %}
<div id="sidebar">

    <a href="#" id="closeSidebar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="left-arrow" class="small icon">
            <g data-name="Layer 2">
                <g data-name="arrowhead-left" fill="#134563">
                    <path
                        d="M11.64 5.23a1 1 0 0 0-1.41.13l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63L7.29 12l4.48-5.37a1 1 0 0 0-.13-1.4z">
                    </path>
                    <path
                        d="m14.29 12 4.48-5.37a1 1 0 0 0-1.54-1.28l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63z">
                    </path>
                </g>
            </g>
        </svg>
    </a>
    <form class="frmFrontmatter">
        <label class="text">Title</label>
        <input type="text" id="txtTitle" placeholder="Title" value="{{ title }}">
        <label class="text">Date published</label>
        <input type="text" id="txtDate" placeholder="Date" value="{{ date }}">
        <label class="text">Tags</label>
        <input type="text" id="txtTags" placeholder="Tags" value="{{ tags }}">
        <label class="text">CSS class for main image</label>
        <input type="text" id="txtImageClass" placeholder="CSS class for main image" value="{{ imageClass }}">
        <input type="checkbox" id="image" name="image" checked />
        <label for="image">For the main image, use image on ImageKit named after the slug</label>
        <button class="publish" id="publish">
            Publish post
        </button>
    </form>
</div>
<main>
    <section class="edit col">
        <div class="form">
            <a href="#" id="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="icon small">
                    <g fill="#134563">
                        <path d="M8.2 13h47.5v6.3H8.2zM8.2 28.8h47.5v6.4H8.2zM8.2 44.7h47.5V51H8.2z"></path>
                    </g>
                </svg>
            </a>
            <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="hamburger"><g fill="#134563"><path d="M8.2 13h47.5v6.3H8.2zM8.2 28.8h47.5v6.4H8.2zM8.2 44.7h47.5V51H8.2z"></path></g></svg>-->
            <textarea id="editBox">{% autoescape off %}{{ md_content }}{% endautoescape %}</textarea>
        </div>
    </section>
    <section class="styledContent col">
        {% autoescape off %}{{ html }}{% endautoescape %}
        <!--<h2>Tags</h2>
            <ul>
            {% for tag in tags %}
                <li>{{ tag }}</li>
            {% endfor %}
            </ul>-->
    </section>
</main>
<script>

    //window.onload = alert(editBox.value);

    $(document).ready(function () {

        // Inputs
        //const editBox = document.getElementById('editBox');
        //const txtTitle = document.getElementById('txtTitle');
        //const txtDate= document.getElementById('txtDate');
        //const txtTags= document.getElementById('txtTags');

        // Anchors/buttons
        const hamburger = document.getElementById('hamburger');
        const closeSidebar = document.getElementById('closeSidebar');
        const publish = document.getElementById('publish');

        $('#publish').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            const image = $("#image").is(":checked");

            var url = '/cms/{{ slug }}/save/';
            var data = {
                content: $("#editBox").val(),
                title: $("#txtTitle").val(),
                date: $("#txtDate").val(),
                tags: $("#txtTags").val(),
                imageClass: $("#txtImageClass").val(),
                image: image,
                csrfmiddlewaretoken: getCookie('csrftoken'),
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: data,
            }).done(function (response) {
                console.log(response) // let's just print the data in the console for now
            })
            $(this).trigger('reset') // reset the form
        })

        $('#editBox').change(function (e) {
            e.preventDefault();
            e.stopPropagation();
        })

        $('#hamburger').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#sidebar").animate({ width: 'toggle' }, 50)
            //const sidebar = document.getElementById("sidebar");
            //sidebar.style.display = 'block';                    
        })

        $('#closeSidebar').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#sidebar").animate({ width: 'toggle' }, 50)
        })




    })

    //editBox.addEventListener('input', function handleChange(event) {
    //    newMd = event.target.value;
    //});
    /*
    hamburger.addEventListener('click', function handleChange(event) {
        event.stopPropagation();
        event.preventDefault();
        const sidebar = document.getElementById("sidebar");
        sidebar.style.display = 'block';
    });

    closeSidebar.addEventListener('click', function handleChange(event) {
        event.stopPropagation();
        event.preventDefault();
        const sidebar = document.getElementById("sidebar");
        sidebar.style.display = 'none';
    });
    */

    // Utility for CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    /*

    publish.addEventListener('click', function handleChange(event) {
        event.stopPropagation();
        event.preventDefault();

        const csrftoken = getCookie('csrftoken');

        const xhttp = new XMLHttpRequest();
        //xhttp.setRequestHeader('X-CSRFToken', csrftoken);
        xhttp.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhttp.open("POST", "/cms/save/", true); 
        const postData = {
            content: editBox.value
        };
        xhttp.send(JSON.stringify(postData));
    });
    */

</script>
{% endblock %}