html,
body {
    background: #fffdf8;
    color: #323232;
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
    line-height: 1.62;
    font-size: 19px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 20px;
    width: 50%;
}

#sidebar {
    position: fixed;
    width: 50%;
    height: 100vh;
    z-index: 1000;
    /*background: #F1F1F1;*/
    background: #e6e5e3;
    padding: 15px 25px;
    display: none;
    box-shadow: 2px 0px 3px #c3c1c0;
}

a#closeSidebar {
    float: right;
}

a#homeSidebar {
    float: left;
}

ul.listFiles {
    width: 100%;
    padding-left: 0;
}

ul.listFiles li {
    list-style-type: none;
}

button {
    background-color:#134563;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 12px 25px;
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button.publish {
    position: absolute;
    right: 31px;
    background-color: #18897e;
    bottom: 40px;
    margin-top: 15px;
    width: 240px;
    height: 60px;
}

button.savedraft {
    right: 280px;
    background-color: #2373ad;
}

button.publish:hover {
    background-color: #15b4a4;
}

button.savedraft:hover {
    background-color: #3597dd;
}

/*button.getanswer {
    width: 240px;
    height: 60px;
    float: right;
    margin-top: 30px;
    background-color: #18897e;
}

button.getanswer:hover {
    background-color: #15b4a4;
}*/

button#getAnswer {
    background-color: #437c6d;
    padding-bottom: 17px;
    width: 320px;
}

button#getAnswer:hover {
    background-color: #49a991;
    padding-bottom: 17px;
}

button#getAnswer svg {
    width: 30px;
    vertical-align: bottom;
    margin-bottom: -4px;
}

.form {
    position: fixed;
    left: 20px;
    top: 12px;
    width: 48%;
}

svg.icon.small {
    width: 1.4rem;
}

form.frmFrontmatter {
    margin-top: 10px;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 18px;
    box-shadow: inset 1px 1px 2px #a9a296;
}

input[type='text'] {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0 0 10px 0
}

label.text {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

input[type="checkbox"] {
    margin-top: 15px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    width: 100%;
    height: 85vh;
}

section.styledContent img {
    max-width: 100%;
}

img[title="imgSmall"] {
    width: 80%;
}

section.panel {
    width: 40%;
    margin: auto;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
}

section.panel h1 {
    font-size: 2rem;
    font-weight: bold;
}

.loading {
    display: none;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    margin: auto
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

#publishedNotice, #savedNotice {
    display: none;
}

/* POPUP FOR AI */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #433;
    background-color:rgba(0,0,0,0.5);
    display: none;
}

.modal {
    margin: 4rem auto;
    width: 80vw;
    min-width: 1000px;
    height: 800px;
    background: #fffdf8;
    z-index: 1000;
    border-radius: 6px;
    padding: 35px;
}

.modal h3 {
    margin-top: 0;
}

div.modal-inner {
    display: flex;
}

div.modal-inner div.container {
    width: 50%;
}

div.modal-inner div#originalContainer {
    margin-right: 25px;
}

div.modal-inner div#answerContainer {
    margin-left: 25px;
}

div#answerText, div#originalText {
    overflow: auto;
    height: 645px;
    margin-bottom: 5px;
}

a#copy {
    float: right;
    position: relative;
}

a#copy::before {
    content: ''
}

a#copy.showing::before {
    content: 'Copied!';
    font-size: 15px;
    color: green;
    position: absolute;
    right: 36px;
    top: 4px;
}