{% for f in files %}
<li hx-boost="true" class="fileListItem showing">
    <span class="slug">{{ f }}</span>
    <span class="buttonContainer">
        <button hx-get="edit/{{ f }}/" hx-target="body" hx-push-url="true">Edit</button>
        <button class="delete">Delete</button>
    </span>
</li>
<!-- random change 10 -->
{% endfor %}

<style>
    li.fileListItem {
        display: flex;
        justify-content: space-between;
    }

    li.fileListItem span.buttonContainer {
        font-size: 1.23rem;
        min-width: 180px;
    }

    li.fileListItem button {
        font-weight: normal;
    }
</style>