{% load static %}
<div id="sidebar">
    <strong><small>
        POST STATUS:
        <span id="poststatus">
            {% if post.draft %}
            Draft
            {% else %}
                {% if post.slug %}
                Published
                {% else %}
                Draft
                {% endif %}
            {% endif %}
        </span>
    </small></strong>
    <a
        href="#"
        id="closeSidebar"
        title="Close"
        _="on click remove .visible from #sidebar"
    >
        <img src="{% static 'cmsHTMX/images/rarr.png' %}" width="36">
        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="icon small"><g fill="#134563"><path d="M8.2 13h47.5v6.3H8.2zM8.2 28.8h47.5v6.4H8.2zM8.2 44.7h47.5V51H8.2z"></path></g></svg>-->
    </a>
    <form class="frmFrontmatter">
        <input type="text" name="title" id="txtTitle" placeholder="Title" value="{{ post.title }}"
            _=" on input
                if '{{ post.slug }}' is empty --- i.e. if the post doesn't exist yet
                    set mySlug to slugify(my value)
                    set value of #txtSlug to mySlug
                    if mySlug is empty
                        put '[slug].jpg' into #slugimage
                    else
                        put mySlug + '.jpg' into #slugimage
                        put '{{ imagekit_bucket }}/' + mySlug + '.jpg' into #slugimage.href
                    end
                end
            "
        >
        <input type="text" name="slug" id="txtSlug" placeholder="Slug" value="{{ post.slug }}">
        <input type="date" name="date" id="txtDate" placeholder="Date" value="{{ post.date }}">
        <input type="text" name="tags" id="txtTags" placeholder="Tags" value="{{ post.tags }}">
        <input type="text" name="imageClass" id="txtImageClass" placeholder="CSS class for main image" value="{{ post.imageClass }}">
        <div>
            <input type="checkbox" id="image" name="image" />
            <label for="image">
                <small>
                    Use <a href="{{ imagekit_bucket }}/{{ post.slug }}.jpg" target="_blank" id="slugimage">
                        {{ post.slug }}{% if post.slug %}.jpg{% else %} [slug].jpg {% endif %}</a> as main image
                </small>
            </label>
        </div>

        <div class="buttonrow">
            <button
                class="publish savedraft"
                id="savedraft"
                hx-post="{% url 'cmshtmx_savedraft' %}"
                hx-swap="beforeend"
                hx-indicator="#saveLoading"
                hx-vals="js:{
                    content: document.getElementById('editBox').value,
                    draft: true,
                    slug: '{{ post.slug }}'
                }"
                hx-select=".status"
                hx-on::after-request="showAfterRequest('saveAction', 1000)"
                _="on click hide #saveAction"
                >
                <span id="saveAction">Save draft</span>
                <span class="spinner" id="saveLoading"></span>
            </button>

            <button
                class="publish unpublish"
                id="unpublish"
                hx-post="{% url 'cmshtmx_unpublish' %}"
                hx-swap="beforeend"
                hx-indicator="#unpublishLoading"
                hx-vals="js:{
                    content: document.getElementById('editBox').value,
                    draft: true,
                    slug: '{{ post.slug }}'
                }"
                hx-select=".status"
                hx-on::after-request="showAfterRequest('unpublishAction', 1000)"
                _="on click hide #unpublishAction"
                >
                <span id="unpublishAction">Unpublish</span>
                <span class="spinner" id="unpublishLoading"></span>
            </button>

            <button
                class="publish"
                id="publish"
                hx-post="{% url 'cmshtmx_publish' %}"
                hx-swap="beforeend"
                hx-indicator="#publishLoading"
                hx-vals="js:{
                    content: document.getElementById('editBox').value,
                    slug: '{{ post.slug }}'
                }"
                hx-select=".status"
                hx-on::after-request="showAfterRequest('publishAction', 1000)"
                _="on click hide #publishAction"
                >
                <span id="publishAction">Publish</span>
                <span class="spinner" id="publishLoading"></span>
            </button>
        </div>

    </form>
</div>

<script type="text/hyperscript">
    js
        function slugify(str) {
            return String(str)
            .normalize('NFKD')
            .replace(/[\u0300-\u036f]/g, '')
            .trim()
            .toLowerCase()
            .replace(/[^a-z0-9 -]/g, '')
            .replace(/\s+/g, '-')
            .replace(/-+/g, '-');
        }
        return { slugify };
    end

    on load from #sidebar
        set draft to '{{ post.draft }}'
        set slug to '{{ post.slug }}'
        set image to '{{ post.image }}'
        if draft is 'False' or draft is empty or draft is 'false'
            if slug is not empty
                hide #savedraft
                show #unpublish
            else
                hide #unpublish
            end
        else
            show #savedraft
            hide #unpublish
        end

        if image is 'True' or image is 'true' or image is true
            add [@checked] to #image
        else
            remove [@checked] from #image
        end
    end

    def showAfterRequest(elementId, waitms)
        --- NOTE: The following can also be done like this:
        --- wait waitms then hide .status then show #{elementId}
        wait waitms
        hide .status
        show #{elementId}
        if elementId is "unpublishAction"
            show #savedraft
            hide #unpublish
            set #poststatus.innerHTML to 'Draft'
        else
            if elementId is "publishAction"
                hide #savedraft
                show #unpublish
                set #poststatus.innerHTML to 'Published'
            end
        end
    end
</script>

<style>
    #sidebar {
        position: fixed;
        right: 0;
        width: 1px;
        height: 100vh;
        background: #e6e5e3;
        padding: 15px 25px;
        opacity: 0;
        z-index: -1;
        box-shadow: -2px 0px 3px #c3c1c0;
    }

    #sidebar.visible {
        width: 50%;
        opacity: 1;
        z-index: 1000;
        transition: width 0.15s ease;
    }

    a#closeSidebar {
        float: right;
        margin-right: -20px;
        margin-top: -10px;
    }
    form.frmFrontmatter {
        margin-top: 10px;
    }

    #publishedNotice, #savedNotice {
        display: none;
    }

    button.publish {
        background-color: #18897e;
        margin-top: 15px;
        width: 200px;
        vertical-align: bottom;
        height: 50px;
    }
    button.publish:hover {
        background-color: #15b4a4;
    }

    button.savedraft:disabled, button.savedraft:disabled:hover {
        background-color: #cdcdcd;
        cursor: auto;
    }

    button.savedraft {
        background-color: #2373ad;
    }
    button.savedraft:hover {
        background-color: #3597dd;
    }

    button.unpublish {
        background-color: #b17895;
    }
    button.unpublish:hover {
        background-color: #cd77a4;
    }

</style>