<div id="originalContainer" class="container">
    <h3>Original</h3>
    <div id="originalText">
        {% autoescape off %}{{ original }}{% endautoescape %}
    </div>
</div>
<div id="answerContainer" class="container">
    <h3>Suggestions</h3>
    <div id="answerText">
        {% autoescape off %}{{ answer }}{% endautoescape %}
    </div>
    <a href="#" id="copy" title="Copy text" _="on click call copySuggestion('answerText') then add .showing then wait 2s then remove .showing">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 16 16" id="copy"><path fill="#134563" d="M4.00029246,4.08524952 L4,10.5 C4,11.8254834 5.03153594,12.9100387 6.33562431,12.9946823 L6.5,13 L10.9143985,13.000703 C10.7082819,13.5829319 10.1528467,14 9.5,14 L6,14 C4.34314575,14 3,12.6568542 3,11 L3,5.5 C3,4.84678131 3.41754351,4.29108512 4.00029246,4.08524952 Z M11.5,2 C12.3284271,2 13,2.67157288 13,3.5 L13,10.5 C13,11.3284271 12.3284271,12 11.5,12 L6.5,12 C5.67157288,12 5,11.3284271 5,10.5 L5,3.5 C5,2.67157288 5.67157288,2 6.5,2 L11.5,2 Z M11.5,3 L6.5,3 C6.22385763,3 6,3.22385763 6,3.5 L6,10.5 C6,10.7761424 6.22385763,11 6.5,11 L11.5,11 C11.7761424,11 12,10.7761424 12,10.5 L12,3.5 C12,3.22385763 11.7761424,3 11.5,3 Z"></path></svg>
    </a>
</div>
<script type="text/hyperscript">
    js
        function copySuggestion(elementId) {
            const element = document.getElementById(elementId);
            const storage = document.createElement('textarea');
            storage.value = element.innerText;
            element.appendChild(storage);
            storage.select();
            storage.setSelectionRange(0, 99999);
            document.execCommand('copy');
            element.removeChild(storage);
        }
        return { copySuggestion };
    end
</script>

<style>
    div.modal-inner div.container {
        width: 50%;
    }

    div.modal-inner div#originalContainer {
        margin-right: 25px;
    }

    div.modal-inner div#answerContainer {
        margin-left: 25px;
    }

    div#answerText, div#originalText {
        overflow: auto;
        height: 645px;
        margin-bottom: 5px;
    }

    a#copy {
        float: right;
        position: relative;
    }

    a#copy::before {
        content: ''
    }

    a#copy.showing::before {
        content: 'Copied!';
        font-size: 15px;
        color: green;
        position: absolute;
        right: 36px;
        top: 4px;
    }
</style>