{% extends "baseHTMX.html" %}
{% block body %}
<main>
    <section class="panel filesList">
        <h1>Files</h1>
        <p>
            <h3><a href="new/">Create new</a></h3>
        </p>
        <ul
            class="listFiles"
            hx-trigger="load"
            hx-get="{% url 'cmshtmx_files' %}"
            hx-indicator="#spinner"
            >
        </ul>
        <div id="spinner"></div>
    </section>
</main>

<style>
    ul.listFiles {
        width: 100%;
        padding-left: 0;
    }

    ul.listFiles li {
        list-style-type: none;
    }
</style>
{% endblock %}