{% extends "base.html" %}
{% block body %}
<div id="sidebar">

    <a href="{{ host }}cms/" id="homeSidebar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="home">
            <path fill="none" stroke="#134563" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6.65721519,18.7714023 L6.65721519,15.70467 C6.65719744,14.9246392 7.29311743,14.2908272 8.08101266,14.2855921 L10.9670886,14.2855921 C11.7587434,14.2855921 12.4005063,14.9209349 12.4005063,15.70467 L12.4005063,15.70467 L12.4005063,18.7809263 C12.4003226,19.4432001 12.9342557,19.984478 13.603038,20 L15.5270886,20 C17.4451246,20 19,18.4606794 19,16.5618312 L19,16.5618312 L19,7.8378351 C18.9897577,7.09082692 18.6354747,6.38934919 18.0379747,5.93303245 L11.4577215,0.685301154 C10.3049347,-0.228433718 8.66620456,-0.228433718 7.51341772,0.685301154 L0.962025316,5.94255646 C0.362258604,6.39702249 0.00738668938,7.09966612 0,7.84735911 L0,16.5618312 C0,18.4606794 1.55487539,20 3.47291139,20 L5.39696203,20 C6.08235439,20 6.63797468,19.4499381 6.63797468,18.7714023 L6.63797468,18.7714023" transform="translate(2.5 2)"></path></svg>
    </a>
    <a href="" id="closeSidebar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="left-arrow" class="small icon">
            <g data-name="Layer 2">
                <g data-name="arrowhead-left" fill="#134563">
                    <path
                        d="M11.64 5.23a1 1 0 0 0-1.41.13l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63L7.29 12l4.48-5.37a1 1 0 0 0-.13-1.4z">
                    </path>
                    <path
                        d="m14.29 12 4.48-5.37a1 1 0 0 0-1.54-1.28l-5 6a1 1 0 0 0 0 1.27l4.83 6a1 1 0 0 0 .78.37 1 1 0 0 0 .78-1.63z">
                    </path>
                </g>
            </g>
        </svg>
    </a>
    <form class="frmFrontmatter">
        <input type="text" id="txtTitle" placeholder="Title" value="{{ title }}">
        <input type="text" id="txtDate" placeholder="Date" value="{{ date }}">
        <input type="text" id="txtTags" placeholder="Tags" value="{{ tags }}">
        <input type="text" id="txtImageClass" placeholder="CSS class for main image" value="{{ imageClass }}">
        <div>
            {% if image == 'true' %}
                <input type="checkbox" id="image" name="image" checked />
            {% else %}
                <input type="checkbox" id="image" name="image" />
            {% endif %}
            <label for="image">For the main image, use image on ImageKit named after the slug</label>
        </div>
        <button class="publish savedraft" id="savedraft">
            <span id="saveAction">Save draft</span>
            <span id="savedNotice">SAVED</span>
            <div id="saveLoading" class="loading"></div>
        </button>
        <button class="publish" id="publish">
            <span id="publishAction">Publish post</span>
            <span id="publishedNotice">PUBLISHED</span>
            <div id="publishLoading" class="loading"></div>
        </button>
    </form>
</div>
<main>
    <section class="edit col">
        <div class="form">
            <a href="#" id="hamburger" _="on click add .visible to #sidebar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="icon small">
                    <g fill="#134563">
                        <path d="M8.2 13h47.5v6.3H8.2zM8.2 28.8h47.5v6.4H8.2zM8.2 44.7h47.5V51H8.2z"></path>
                    </g>
                </svg>
            </a>
            <textarea id="editBox">{% autoescape off %}{{ md_content }}{% endautoescape %}</textarea>
            <div class="box">
                <button class="getAnswer" id="getAnswer">
                    <!-- chatGPT/OpenAI logo -->
                    <span id="answerAction">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2406 2406">
                            <path id="a" d="M1107.3 299.1c-197.999 0-373.9 127.3-435.2 315.3L650 743.5v427.9c0 21.4 11 40.4 29.4 51.4l344.5 198.515V833.3h.1v-27.9L1372.7 604c33.715-19.52 70.44-32.857 108.47-39.828L1447.6 450.3C1361 353.5 1237.1 298.5 1107.3 299.1zm0 117.5-.6.6c79.699 0 156.3 27.5 217.6 78.4-2.5 1.2-7.4 4.3-11 6.1L952.8 709.3c-18.4 10.4-29.4 30-29.4 51.4V1248l-155.1-89.4V755.8c-.1-187.099 151.601-338.9 339-339.2z" fill="#fff"/>
                            <use xlink:href="#a" transform="rotate(60 1203 1203)"/>
                              <use xlink:href="#a" transform="rotate(120 1203 1203)"/>
                            <use xlink:href="#a" transform="rotate(180 1203 1203)"/>
                            <use xlink:href="#a" transform="rotate(240 1203 1203)"/>
                            <use xlink:href="#a" transform="rotate(300 1203 1203)"/>
                        </svg>

                        Get suggestions from GPT</span>
                    <div id="answerLoading" class="loading"></div>
                </button>
            </div>

            <div class="modal-container">
                <div class="modal">
                    <div class="modal-inner">
                        <div id="originalContainer" class="container">
                            <h3>Original</h3>
                            <div id="originalText"></div>
                        </div>
                        <div id="answerContainer" class="container">
                            <h3>Suggestions</h3>
                            <div id="answerText"></div>
                            <a href="#" id="copy" title="Copy text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 16 16" id="copy"><path fill="#134563" d="M4.00029246,4.08524952 L4,10.5 C4,11.8254834 5.03153594,12.9100387 6.33562431,12.9946823 L6.5,13 L10.9143985,13.000703 C10.7082819,13.5829319 10.1528467,14 9.5,14 L6,14 C4.34314575,14 3,12.6568542 3,11 L3,5.5 C3,4.84678131 3.41754351,4.29108512 4.00029246,4.08524952 Z M11.5,2 C12.3284271,2 13,2.67157288 13,3.5 L13,10.5 C13,11.3284271 12.3284271,12 11.5,12 L6.5,12 C5.67157288,12 5,11.3284271 5,10.5 L5,3.5 C5,2.67157288 5.67157288,2 6.5,2 L11.5,2 Z M11.5,3 L6.5,3 C6.22385763,3 6,3.22385763 6,3.5 L6,10.5 C6,10.7761424 6.22385763,11 6.5,11 L11.5,11 C11.7761424,11 12,10.7761424 12,10.5 L12,3.5 C12,3.22385763 11.7761424,3 11.5,3 Z"></path></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <section class="styledContent col">
        {% autoescape off %}{{ html }}{% endautoescape %}
    </section>
</main>
{% endblock %}